<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>hiii</h1>
<!--<form method="POST" class="post-form" action="/cus">-->
<!--    {% csrf_token %}-->
<!--        Enter details</h2>-->
<!--        <p> Name:{{form.name}}<br>-->
<!--         Phone Number:{{form.phoneno}}<br>-->
<!--         Email id:{{form.email}}<br>-->
<!--         Address:{{form.address}}<br>-->
<!--         <button type="submit"></button><br></p>-->

<!--</form>-->

</body>
</html>